.heading
{
    text-align: center;
}


.r1{
    margin-top: 100px;
   background-color: white;
}
.s1{
    background-color: black;
    margin-left: 450px;
    height: 60px;
    text-align: center;
    font-size: 30px;
    border: groove;
    border-radius: 0.5px;
    border-color: blanchedalmond;
    color:aliceblue;
}

.s2{
    background-color: black;
    height: 60px;
    text-align: center;
    font-size: 30px;
    border: groove;
    border-radius: 1px;
    border-color: blanchedalmond;
    color: aliceblue;
}

.s3
{
    background-color: black;
    margin-right: 500px;
    height: 60px;
    text-align: center;
    font-size: 30px;
    border: groove;
    border-radius: 1px;
    border-color: blanchedalmond;
    color: aliceblue;
}

.r2{
    background-color: white;
}

.s4{
    background-color: black;
    margin-left: 450px;
    height: 60px;
    font-size: 30px;
    text-align: center;
    border: groove;
    border-radius: 1px;
    border-color: blanchedalmond;
    color: aliceblue;
}

.s5{
    background-color: black;
    height: 60px;
    font-size: 30px;
    text-align: center;
    border: groove;
    border-radius: 1px;
    border-color: blanchedalmond;
    color: aliceblue;

}
.s6{
    background-color: black;
    height: 60px;
    font-size: 30px;
    margin-right: 500px;
    text-align: center;
    border: groove;
    border-radius: 1px;
    border-color: blanchedalmond;
    color: aliceblue;
}

.r3{
    background-color:white;
}

.s7{
    background-color:black;
    margin-left: 450px;
    height: 60px;
    font-size: 30px;
    text-align: center;
    border: groove;
    border-radius: 1px;
    border-color: blanchedalmond;
    color: aliceblue;
}

.s8{
    background-color: black;
    height: 60px;
    font-size: 30px;
    text-align: center;
    border: groove;
    border-radius: 1px;
    border-color: blanchedalmond;
    color: aliceblue;

}

.s9{
    background-color: black;
    height: 60px;
    font-size: 30px;
    margin-right: 500px;
    text-align: center;
    border: groove;
    border-radius: 1px;
    border-color: blanchedalmond;
    color: aliceblue;

}

.dis{
    color:green;
    margin-top: 25px;
    margin-left: 450px;
    margin-right: 500px;
    font-size: large;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    
}